.section-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    padding: 5px;
    background-color: blue;
    border-radius: var(--border-radius);
}

.section-hours h2 {
    color: var(--white);
    margin: 10px 0px;
}

.section-hours ul {
    display: flex;
    overflow: auto;
    width: 99%;
    box-sizing: var(--border-box);
}

.section-hours ul::-webkit-scrollbar {
    height: 4px;
    background-color: var(--gray);
    border-radius: var(--border-radius);
}

.section-hours ul::-webkit-scrollbar-thumb {
    height: 3px;
    background-color: var(--gray2);
}

.item-hours {
    list-style: none;
    margin-bottom: 5px;
    margin-left: 15px;
    background-color: cornflowerblue ;
    color: var(--gray);
}